// // Place all the styles related to the Members controller here.
// // They will automatically be included in application.css.

// .flex-container
// 	display: flex
// 	flex-flow: row wrap
// 	text-align: center
// header
// 	position: relative
// 	width: 100%
// 	margin: auto
// 	a
// 		align-self: center
// 		text-align: left
// 		position: absolute
// 		left: 0 
// 		top: 0 
// 		right: 0 
// 		bottom: 0
// 		vertical-align: center
// 		background-color: red
table
	border-spacing: 0px
tr:nth-child(even)
	background-color: #f2f2f2